body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/pexels-pixabay-89778.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
}

.jumbotron {
    background-color: transparent;
}

.filters {
    display: flex;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

#reset {
    margin-top: 10px;
    width: 120px;
}

.filter-select {
    width: 200px;
}

#api {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: white;
    /* font-weight: bold; */
}

#api::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #14A44D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}

#api:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.my-2 {
    background-color: white;
}

.t-text {
    font-size: 2em;
}

.container-fluid {
    padding: 30px;
}

.card {
    background-color: #61876E;
    color: #bac7a9;
    font-weight: bold;
    height: 100%;
}

.card-header {
    background-color: #3C6255;
    color: #EAE7B1;
}

h3, .card-header > small {
    font-weight: bold;
}

ul {
    padding: 0;
    padding-left: 20px;
}

.filter-count {
    margin-top: 15px;
}